#particles-js {
  position: absolute;
  background-color: rgb(0,0,40);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

.gradient {
  background: linear-gradient(120deg, #7f70f5, #000000);
  color: #fff;
}

.floating-banner {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 90px;
  height: 90px;
  border-radius: 7px;
  background: linear-gradient(to bottom, #8B00FF, #000000);
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner-content span {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

.banner-content img {
  width: 50px;
  height: 50px;
}

.floating-banner {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 90px;
  height: 90px;
  border-radius: 7px;
  background: linear-gradient(to bottom, #8B00FF, #000000);
}

.whatsapp-banner {
  bottom: 130px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner-content span {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

.banner-content img {
  width: 50px;
  height: 50px;
}

.portfolio-block.skills {
}

